
:root{
    --btn-shadow: 1px 1px 10px 0px rgb(0 0 0 / 5%), -1px -1px 10px 0px rgb(0 0 0 / 5%);
    --btn-shadow-hover:1px 1px 8px 0px rgb(0 0 0 / 10%), -1px -1px 8px 0px rgb(0 0 0 / 10%);
    --box-shadow:2px 2px 5px 0px rgb(0 0 0 / 5%), -2px -2px 5px 0px rgb(0 0 0 / 5%);
}
