@font-face {
    font-family: "IRANSans";
    src: url("font/WebFonts/fonts/woff2/IRANSansWeb.woff2");
}
body{
    direction: rtl;
    color: black;
}
*{
    color: var(--text-color);
}
.image-wrapper{
    box-shadow: inset 10000px 0 0 rgba(0, 0, 0, 0.8);
    background-image: url("../Image/gym.jpg");
    background-size: contain;
}
.image-wrapper div{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
}
.login-wrapper{
    width: 100%;
}
.simple-box{
    padding: 45px 0 45px 0;
    border-radius: 10px;
    margin: 15px 0 15px 0;
    min-height: 419px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.simple-box img{
    width: 20%;
    border-radius: 50%;
}
.date{
    font-weight: bold;
    position: absolute;
    left: 15px;
    bottom: 20px;
}

.square-wrapper{
    border-radius: 10px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    padding: 45px 0 45px 0;
    margin: 15px 0 15px 0;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.square-wrapper div:first-child {
    position: absolute;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid var(--main-color);
    bottom: 84%;
    display: flex;
    align-items: center;
}
.simple-box>div:first-child {
    position: absolute;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid  var(--main-color);
    bottom: 89%;
    display: flex;
    align-items: center;
}
.nav{
    position: sticky;
    top: 0;

}