@font-face {
    font-family: "IRANSans";
    src: url("font/WebFonts/fonts/woff2/IRANSansWeb.woff2");
}
*{
    font-family: "IRANSans";

}
.bigger-title{
    font-size: 18px;
    font-weight: bold;
}
.title{
    font-size: 16px;

}
.primary-font{
    font-size: 14px;
}
.secondary-font{
    font-size: 12px;
}
.line-height{
    line-height: 30px;
}
